Repository openedx/edx-app-android, pull requests merged in 2018-10, with the labels that each got.

#1112 Discussions - Resolve comment text cut issue
  OpenEdXMobile/res/layout/row_discussion_comments_response.xml
Labels: engineering review, open-source-contribution

#1150 Resolve screenshot testing issue
  Makefile
  OpenEdXMobile/build.gradle
  OpenEdXMobile/screenshots/API_21_NO_GP_XHDPI_768x1280_armeabi-v7a_/org.edx.mobile.test.screenshot.test.DiscoveryLaunchScreenshotTests_testScreenshot_withCourseDiscoveryDisabled.png
  OpenEdXMobile/screenshots/API_21_NO_GP_XHDPI_768x1280_armeabi-v7a_/org.edx.mobile.test.screenshot.test.DiscoveryLaunchScreenshotTests_testScreenshot_withCourseDiscoveryEnabled.png
  OpenEdXMobile/screenshots/API_21_NO_GP_XHDPI_768x1280_armeabi-v7a_/org.edx.mobile.test.screenshot.test.LaunchScreenshotTests_testScreenshot_recordLaunchActivity.png
Labels: open-source-contribution, waiting on author

#1152 Resolve Crash during navigating course units
  OpenEdXMobile/src/main/java/org/edx/mobile/view/CourseUnitVideoFragment.java
Labels: awaiting prioritization, open-source-contribution

#1117 Courseware - Implement Pull to refresh functionality
  OpenEdXMobile/res/layout/fragment_course_outline.xml
  OpenEdXMobile/src/main/java/org/edx/mobile/view/CourseOutlineFragment.java
Labels: engineering review, open-source-contribution
